textarea {
	padding: 5px 0 0 0;
}
#linenos {
    top: 25px;
}
#box {
	padding: 5px 0 0 0;
}

#banner {
	position: fixed;
	background:rgba(255, 255, 203, 0.8);
	top:-12px;
	left:-30px;
	width:100%;
	height:20px;
	font-family: monospace;
}
#banner ul {
	padding: 0 ;
	list-style-type: none;
	list-style: none;
	margin-block-start: 0;
	margin-block-end: 0;
}
#banner li {
	margin:0;
	padding: 0;
	list-style:none;
}
#banner li span {
    padding-left: 3px;
	font-style: italic;
}